{#
/**
 * @file
 * Default theme implementation for thumbs up/down voting display.
 *
 * Available variables:
 * - title: Title text.
 * - buttons: The images/text to display for voting.
 * - info: Optional brief text to present with voting widgets.
 * - description: Optional longer description to present with voting widgets.
 *
 * @ingroup themeable
 */
#}
<div class="rate-widget-thumbs-up-down">
  <ul>
    <li class="thumb-up">
      {{ up_button }}
      <div class="percent">{{ up_percent }}%</div>
    </li>
    <li class="thumb-down">
      {{ down_button }}
      <div class="percent">{{ down_percent }}%</div>
    </li>
  </ul>
  {% if info %}
    <div class="rate-info">{{ info }}</div>
  {% endif %}
  {% if description %}
    <div class="rate-description">{{ description }}</div>
  {% endif %}
</div>
