{#
/**
 * @file
 * Default theme implementation for thumbs up/down voting display.
 *
 * Available variables:
 * - identifier: Outer div ID for AJAX purposes.
 * - up_button: Up text/image for up vote.
 * - up_percent: Percentage of up votes.
 * - down_button: Up text/image for down vote.
 * - down_percent: Percentage of down votes.
 * - undo: Link to undo placed vote.
 * - info: Optional brief text to present with voting widgets.
 * - description: Optional longer description to present with voting widgets.
 *
 * @ingroup themeable
 */
#}
<div id={{ identifier }} class="rate-widget-thumbs-up-down">
  <ul>
    <li class="thumb-up">
      {{ up_button }}
      <div class="percent">{{ up_percent }}%</div>
    </li>
    <li class="thumb-down">
      {{ down_button }}
      <div class="percent">{{ down_percent }}%</div>
    </li>
  </ul>
  {% if undo %}
    <div class="rate-undo-vote">{{ undo }}</div>
  {% endif %}
  {% if info %}
    <div class="rate-info">{{ info }}</div>
  {% endif %}
  {% if description %}
    <div class="rate-description">{{ description }}</div>
  {% endif %}
</div>
